# Claude
.claude/

# VsCode
.vscode/

# Auxiliares LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.lof
*.lot

# Carpeta de compilación
out/

# PDFs
*.pdf